@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.login-form-container, .signup-form-container {
    background-color: rgba(0, 0, 0, .5);
}

.login-form-container input, .signup-form-container input {
    border-bottom: 1px solid gray;
}
