@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body,
html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #f8d967;
}

::-webkit-scrollbar-thumb:hover {
    background: #fabe46;
}

.divider::after,
.divider::before {
    height: 0.01rem;
    background-color: #c1c1c1;
}

.hamburger-list-wrapper .profile .divider::after,
.hamburger-list-wrapper .profile .divider::before {
    height: 0.01rem;
    width: 1rem;
}

.hamburger-list-wrapper .auth .divider::after,
.hamburger-list-wrapper .auth .divider::before {
    height: 1rem;
    width: 0.1rem;
}

.pop-up {
    animation: popUp 5s;
    animation-fill-mode: forwards;
}

.btn-rh {
    min-height: 0;
    height: fit-content;
}

.hamburger-list-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.hamburger-list {
    transform: translateX(600px);
}

.hamburger-list-wrapper.open {
    display: inherit;
}

.hamburger-list.open {
    transform: translateX(0);
}

@keyframes popUp {
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(2px);
    }
    80% {
        transform: translateX(0px);
    }
    85% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(400px);
    }
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px) {
    .hamburger-list-wrapper {
        display: inherit;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
    }
    .hamburger-list {
        transform: translateX(0);
        width: fit-content;
        height: fit-content;
    }
}
